<h1>Hai selamat datang di NgeStuckFlow Anda dijamin tidak menemukan jawaban anda</h1>
<p>
    Your Name: {{name}}
    <br/>
    Your Email: {{email}}
    <br/>
    HAlooooooo ini adalah email spam. dan kamu telah ketipu tolong diblock ya

</p>